.itemButtonOpen{
  background-image: var(--openFullImg, url('/portfolio/icons/defaultOpenFull.svg'));
}
.itemButtonClose{
  background-image: var(--closeImg, url('/portfolio/icons/defaultClose.svg'));
}
.itemButtonOpen, .itemButtonClose{
  height: 1em;
  width: 1em;
  background-size: contain;
  cursor: pointer;
}
.itemList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5em;
  --itemsPerRow: 4;
  & img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
}
.url {
  & img {
    height: 1.4em;
    display: inline;
    vertical-align: middle;
    margin-right: 0.4em;
    margin-top: -0.2em;
  }
}
@media only screen and (max-width: 1200px) and (orientation: landscape){
  .itemList{
    --itemsPerRow: 3;
  }
}
@media only screen and (max-width: 900px) and (orientation: landscape){
  .itemList{
    --itemsPerRow: 2;
  }
}
@media only screen and (max-width: 660px) and (orientation: landscape){
  .itemList{
    --itemsPerRow: 1;
  }
}
@media only screen and (max-width: 1000px) and (orientation: portrait){
  .itemList{
    --itemsPerRow: 3;
  }
}
@media only screen and (max-width: 680px) and (orientation: portrait){
  .itemList{
    --itemsPerRow: 2;
  }
}
@media only screen and (max-width: 440px) and (orientation: portrait){
  .itemList{
    --itemsPerRow: 1;
  }
}
.notFound{
  margin-left: 10px;
  max-height: 0px;
  transition: max-height 0.5s 0s ease-in-out;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
  &.notFoundVisible{
    max-height: 10em;
  }
}
.slide{
  height: 100%;
  overflow: hidden;
  animation: slideOpen 0.5s 0.1s forwards;
  &.hidden{
    animation: slideClose 0.5s forwards;
  }
  &.visible{
    width: 0%;
    animation: slideOpen 0.5s 0.1s forwards;
  }
  &.disabled{
    width: 0;
    display: none;
  }
}
@keyframes slideOpen {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {width: 100%}
}
@keyframes slideClose {
  0% {width: 100%}
  100% {
    width: 0%;
    opacity: 0;
  }
}

.fullItemRow{
  display: flex;
  flex-direction: row;
  transition: height 0.5s 0s ease-in-out, max-height 0.5s 0s ease-in-out, min-height 0.5s 0s ease-in-out;
  justify-content: space-around;
  min-height: 0px;
  &.visible{
    height: 350px;
    min-height: 350px;
    max-height: 350px;
    &.fullOpen{
      height: auto;
      min-height: 400px;
      max-height: 5000px;
    }
  }
  &.hidden{
    height: 0px;
  }
  &.small{
    height: 100px;
  }
}
.skipAnim{
  .itemSelector{
    --animdelay: 0s;
  }
}
.dummy {
  width: calc(100% / var(--itemsPerRow) - 0.5em * ((var(--itemsPerRow) - 1) / var(--itemsPerRow)));
  max-width: 300px;
  height: 0;
}
.itemSelector{
  --index: 0;
  border-radius: 1em;
  width: calc(100% / var(--itemsPerRow) - 0.5em * ((var(--itemsPerRow) - 1) / var(--itemsPerRow)));
  max-width: 320px;
  height: 320px;
  color: var(--txt);
  background-color: var(--bg);
  background-image: linear-gradient(161.92deg, transparent 84%, rgba(0, 0, 0, 0.1) 84%);
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    padding: 0.8em;
    height: 100%;
  }
  &.selected{
    background-color: var(--darken);
  }
  &:not(.selected){
    cursor: pointer;
  }
  .title{
    font-size: 1.3em;
  }
  .subtitle{
    font-size: 1.1em;
    min-height: 1.1em;
    max-height: 2em;
    overflow: hidden;
  }
  .icon{
    border-radius: 0.5em;
    background-color: var(--bg);
    height: 10em;
    overflow: hidden;
    position: relative;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: luminosity;
    }
    .imageHolder{
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity 1s linear;
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &:not(.selected):hover {
  .icon > .imageHolder {
      transition: opacity 0.2s linear;
      opacity: 0.8;
    }
  }
  .taglist{
    max-height: 1.4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.2em;
    overflow: hidden;
  }
  .description {
    flex: 1 0 2em;
    overflow: hidden;
    height: 2em;
    mask: linear-gradient(0deg, transparent 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 1) 60%);
    mask-type: alpha;
  }
}

.fullItem{
  --index: 0;
  border-radius: 1em;
  color: var(--txt);
  background-color: var(--bg);
  background-image: linear-gradient(161.92deg, transparent 84%, rgba(0, 0, 0, 0.1) 84%);
  transition: width 1s ease-in-out, opacity 0.2s 0.8s ease-in-out;
  margin-left: 0em;
  margin-right: 0em;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;

  .buttons{
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.2em;
    font-size: 1.5em;
    opacity: 1;
    transition: opacity 0.2s 0.8s ease-in-out
  }
  .content{
    padding: 0.8em;
    padding-bottom: 0;
    width: min(var(--contentSize), calc(var(--window-x, 100vw) - var(--inactiveTabWidth) - var(--sidePadding) * 3));
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    transition: height 0.3s, padding-bottom 0.3s;
    height: calc(100% - 2.2em);
  }
  &:hover{
    .expandButton{
      opacity: 0.8;

    }
  }
  .expandButton {
    width: 100%;
    text-align: center;
    height: 2.2em;
    transition: height 0.3s;
    padding-top: 0.4em;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.2;
    background: linear-gradient(transparent, var(--white) 1000%);
    &:hover {
      background: linear-gradient(transparent, var(--white) 400%);
      & > img {
        opacity: 0.5;
      }
    }
    & > img {
      height: 1.7em;
    }
  }
  .icon{
    border-radius: 0.5em;
    background-color: var(--bg);
    width: 20em;
    flex: 0 0 20em;
    overflow: hidden;
    & > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    max-height: 100%;
    overflow: hidden;
  }
  .title{
    font-size: 1.3em;
  }
  .subtitle{
    font-size: 1.1em;
  }
  .taglist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.2em;
    overflow: hidden;
  }
  .description {
    flex: 1 0 2em;
    overflow: hidden;
    mask: linear-gradient(0deg, transparent 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 1) 60%);
    mask-type: alpha;
  }
}

.fullOpen{
  .fullItem {
    .content {
      height: 100%;
      padding-bottom: 0.8em;
    }

    .expandButton {
      height: 0;
    }

    .taglist {
      .tagHead {
        height: 1em;
        opacity: 1;
        flex: 1 1 100%;
      }
    }
  }
}
.fullItem .taglist, .itemSelector .taglist {
  .tagHead {
    height: 0;
    opacity: 0;
    transition: height 0.2s linear, opacity 0.3s 0.3s linear;
    overflow: hidden;
    flex: 0 0 0%;
    margin-right: -0.2em;
  }
  .tag {
    font-size: 0.9em;
    border-radius: 0.3em;
    --borderHighlight: var(--color-b);
    --borderShadow: var(--color-md);
    border: var(--borderHighlight) solid 2px;
    border-bottom-color: var(--borderShadow);
    border-right-color: var(--borderShadow);
    padding: 2px 4px;
    background-color: var(--color-sd);
    color: var(--color-l);
    cursor: pointer;

    &.selectedTag {
      --borderHighlight: var(--color-md);
      --borderShadow: var(--color-sd);
      background-color: var(--color-d);
      color: var(--color-b);

    }

    &:hover {
      --borderHighlight: var(--color-l);
      --borderShadow: var(--color-d);
      background-color: var(--color-b);
      color: var(--white);
    }
  }
}

.singleView {
  height: auto;

}

.mainTextImage {
  max-width: 100%;
}